<a href="https://colab.research.google.com/github/Snigdha2005/Bootcamp_Python/blob/main/Copy_of_WE5BC1_20230516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1

## Euler 001

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.

In [1]:
'''FUNCTION 1.0 TO GET EULER SUM'''#CORRECT
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0 #if multiple of 3 or 5

def euler001(limit: int) -> int:
    n, total = 1, 0
    while n < limit:
        if select(n):
            total += n # adding all the multiples
        n += 1
    return total    
euler001(10)
euler001(1000)

233168

In [2]:
'''FUNCTION 2.0 TO GET EULER SUM'''#CORRECT
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

def euler001A(limit: int) -> int:
    total = 0
    for n in range(1, limit):#checking upto limit using for loop
        if select(n):
            total += n
    return total
euler001A(1000)

233168

In [6]:
'''FUNCTION 3.0 TO GET EULER SUM'''#CORRECT
def euler001B(limit: int) -> int:
    # sum = ap(3,6,9....) + ap(5,10,15....) - ap(15,30,45....)
    return sum(range(3, limit, 3)) + \
           sum(range(5, limit, 5)) - \
           sum(range(15, limit, 15))
euler001B(1000)

233168

In [7]:
'''FUNCTION 4.0 TO GET EULER SUM'''#CORRECT
def euler001C(limit: int) -> int:
    return sum(set(range(3, limit, 3)) |set(range(5, limit, 5))) #finding the union of both the sets of multiples to remove duplicates 15,30,45.... 
euler001C(1000)

233168

In [8]:
'''FUNCTION 5.0 TO GET EULER SUM'''#CORRECT
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

def euler001D(limit: int) -> int:
    return sum(filter(select, range(1, limit)))#filtering from the list 1 to limit, to find the multiples of 3 or 5 and returning the sum 
euler001D(1000)

233168

In [9]:
'''FUNCTION 6.0 TO GET EULER SUM'''#CORRECT
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

def euler001E(limit: int) -> int:
    return sum(n for n in range(1, limit) if select(n)) #using principles of list comprehension 
euler001E(1000)

233168

$gen\_euler001(1000, [3, 5]) \equiv euler001(limit)$

In [ ]:
'''FUNCTION 1.0 TO GET SUM OF GENERAL EULER NUMBERS'''#CORRECT
def pick(n: int, ps: list[int]) -> int:
    if any(n % p == 0 for p in ps): #to check if multiple of any number in the given list of numbers
        return n #return number
    else:
        return 0 #return 0 (does not change sum)

def gen_euler001(limit: int, nums: list[int]) -> int:
    ''' Compute the sum of the multiples of the integers 
    in the nums below the given limit.'''
    return sum(pick(k, nums) for k in range(1, limit))#calculating sum by iterating over the range of numbers 1 to limit and checking if it is a multiple of any number in the list given

In [ ]:
'''FUNCTION 2.0 TO GET SUM OF GENERAL EULER NUMBERS'''#CORRECT
def gen_euler001(limit: int, nums: list[int]) -> int:
    all_multiples = set()
    for num in nums:
        all_multiples |= set(range(num, limit, num))#creating a set of all multiples of each number in the list below the given limit
    return sum(all_multiples)#returning sum

In [11]:
'''FUNCTION 1.0 TO CHECK IF THERE IS A VOWEL IN A GIVEN LIST'''#CORRECT
test_data = ["hello", "local", "spear", "cloud", "spare",
             "dad", "add", "reaps", "swear", "pears", "wears"
             "wares", "spore"]
def is_vowel(ch: str) -> bool:#checking if particular character is a vowel
    return ch in "AEIOUaeiou"
def is_vowel(ch: str, includeY = False):
    vowels = "AEIOUaeiou"
    if includeY:
        vowels += "yY"#if y also considered
    return ch in vowels
print(is_vowel("a"))
print(is_vowel("Y"))
print(is_vowel("y", True))
print(is_vowel("y", False))
print(is_vowel("a", False))
print(is_vowel("a", True))

True
False
True
False
True
True

In [ ]:
for i in range(6):#printing the numbers from 0 to 6-1 = 5; by default python adds line end
    print(i)

0
1
2
3
4
5

In [ ]:
for i in range(6):#changing the end to space
    print(i, end=" ")

0 1 2 3 4 5

In [ ]:
'''FUNCTION 1.0 TO CHECK IF TWO GIVEN WORDS ARE ANAGARAMS'''
def are_anagrams(a_word: str, b_word: str, ignore_case = True):
    if ignore_case:
        a_word = a_word.lower()#lower case
        b_word = b_word.lower()
    return sorted(a_word) == sorted(b_word)#checking if the sorted characters are same