<a href="https://colab.research.google.com/github/Snigdha2005/Bootcamp_Python/blob/main/WE5BC1_20230516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem 1

## Euler 001

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23. Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

def euler001(limit: int) -> int:
    n, total = 1, 0
    while n < limit:
        if select(n):
            total += n
        n += 1
    return total

In [ ]:
euler001(10)

23

In [ ]:
euler001(1000)

233168

In [ ]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

def euler001A(limit: int) -> int:
    total = 0
    for n in range(1, limit):
        if select(n):
            total += n
    return total

In [ ]:
euler001A(1000)

233168

In [ ]:
def euler001B(limit: int) -> int:
    return sum(range(3, limit, 3)) +\
           sum(range(5, limit, 5)) -\
           sum(range(15, limit, 15))

In [ ]:
euler001B(1000)

233168

In [ ]:
def euler001C(limit: int) -> int:
    return sum(set(range(3, limit, 3)) |set(range(5, limit, 5)))

In [ ]:
euler001C(1000)

233168

In [ ]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

def euler001D(limit: int) -> int:
    return sum(filter(select, range(1, limit)))

In [ ]:
euler001D(1000)

233168

In [ ]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

def euler001E(limit: int) -> int:
    return sum(n for n in range(1, limit) if select(n))

In [ ]:
euler001E(1000)

233168

$gen\_euler001(1000, [3, 5]) \equiv euler001(limit)$

In [ ]:
def pick(n: int, ps: list[int]) -> int:
    if any(n % p == 0 for p in ps):
        return n
    else:
        return 0

def gen_euler001(limit: int, nums: list[int]) -> int:
    ''' Compute the sum of the multiples of the integers 
    in the nums below the given limit.'''
    return sum(pick(k, nums) for k in range(1, limit))

In [ ]:
def gen_euler001(limit: int, nums: list[int]) -> int:
    all_multiples = set()
    for num in nums:
        all_multiples |= set(range(num, limit, num))
    return sum(all_multiples)

In [ ]:
test_data = ["hello", "local", "spear", "cloud", "spare",
             "dad", "add", "reaps", "swear", "pears", "wears"
             "wares", "spore"]

In [ ]:
def is_vowel(ch: str) -> bool:
    return ch in "AEIOUaeiou"

In [ ]:
def is_vowel(ch: str, includeY = False):
    vowels = "AEIOUaeiou"
    if includeY:
        vowels += "yY"
    return ch in vowels

In [ ]:
is_vowel("a")

True

In [ ]:
is_vowel("Y")

False

In [ ]:
is_vowel("y", True)

True

In [ ]:
is_vowel("y", False)

False

In [ ]:
is_vowel("a", False)

True

In [ ]:
is_vowel("a", True)

True

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
for i in range(6):
    print(i, end=" ")

0 1 2 3 4 5

In [ ]:
def are_anagrams(a_word: str, b_word: str, ignore_case = True):
    if ignore_case:
        a_word = a_word.lower()
        b_word = b_word.lower()
    return sorted(a_word) == sorted(b_word)